<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.classless.min.css">
  <title>Short URL</title>
</head>

<body>
  <main class="container" id="app">
    <h1>短链接生成</h1>
    <form @submit.prevent="submit">
      <label for="raw">
        原始链接
        <input id="raw" type="url" required v-model="raw" ref="rawInput">
      </label>
      <label for="short-url">
        短链接
        <input id="short-url" readonly v-model="shortUrl">
      </label>
      <button>{{ submitLabel }}</button>
    </form>
  </main>
  <script type="module" async>
    import { createApp, ref, onMounted } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js'

    createApp({
      setup() {
        const raw = ref('')
        const rawInput = ref(null)
        const shortUrl = ref('')
        const submitLabel = ref('生成')

        async function submit() {
          if (shortUrl.value !== '') {
            await navigator.clipboard.writeText(shortUrl.value)
            return
          }
          const resp = await fetch(location.href, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json;charset=utf-8',
            },
            body: JSON.stringify({
              raw: raw.value,
            }),
          })
          if (!resp.ok) {
            alert(resp.statusText)
            return
          }
          shortUrl.value = await resp.text()
          submitLabel.value = '复制短链接'
        }

        onMounted(() => {
          rawInput.value.focus()
        })
        return { raw, rawInput, shortUrl, submitLabel, submit }
      },
    }).mount('#app')
  </script>
</body>

</html>
